[File Locations]
csv=dataset.csv
downloadDir=database
databaseDir=database
filterDir=filteredFiles
benchmarkDir=benchmarks

[Downloading]
language = C
projectCount = 15
minNumStars=0
minActivity=0
minRepoLoc=100
maxRepoLoc=10000


[Function Requirements]
maxForLoops = 9999
minTypeCompareOperation = 0
minTypeIfStmt = 0
#minTypeArithmeticOperation = 1
minTypeVariableReference = 1
#minTypeVariable = 1

[File Requirements and Settings]
# type = Int string Bool
# Leave out Type in order to filter for any type
type=Int
minFileLoC=5
maxFileLoC=9999
useNonStdHeaders=false
keepCompilesOnly=true

[Debugging Flags]
debug=false
# debug level:
# 0 for no debugging, increase number to inlcude more and more debugging messages
# 1 for High priority debugging only
# 2 for Mid  priority debugging and above
# 3 for Low  priority debugging and above
debugLevel=0
