[File Locations]
csv=dataset.csv
downloadDir=database
benchmarkDir=benchmarks

[Downloading]
language = C
minNumStars=1
minActivity=0
minRepoLoc=100
maxRepoLoc=10000


[Function Requirements]
maxForLoops = 1
minTypeCompareOperation = 0
minTypeIfStmt = 0
minTypeArithmeticOperation = 1

[File Requirements and Settings]
# type = Int string Bool
# Leave out Type in order to filter for any type
type=Int
minFileLoC=0
maxFileLoC=9999
useNonStdHeaders=false

[Debugging Flags]
debug=false
# debug level:
# 0 for no debugging, increase number to inlcude more and more debugging messages
# 1 for High priority debugging only
# 2 for Mid  priority debugging and above
# 3 for Low  priority debugging and above
debugLevel=0
